/* Container: flex wrap + gap */
.dropdown-containerMia {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 200px;
}

/* Dropdown: maksimal 5 blok bir qatorda */
.dropdownMia {
  flex: 1 1 calc(20% - 20px); /* 5 blok = 100% / 5 = 20% minus gap */
  max-width: 250px; /* maksimal kenglik */
  min-width: 220px; /* minimal kenglik */
  position: relative;
  transition: box-shadow 0.3s ease;
  font-size: 14px;
}

/* Linklar va button */
.dropbtnMia, .dropbtnMia a, .dropdown-contentMia a {
  color: #555;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  transition: color 0.3s;
}



.dropbtnMia {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dropbtnMia a {
  padding: 5px 36px;
}

.dropbtnMia:hover {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.dropdown-contentMia {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1;
  background: #f2f2f2;
  padding-bottom: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.dropdown-contentMia a {
  padding: 5px 36px;
}

/* Hover qilganda dropdown ochiladi */
.dropdownMia:hover .dropdown-contentMia {
  display: block;
}

.dropdownMia:hover .dropbtnMia {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


/* Icon va title */
.category-iconMia {
  font-size: 44px;
  color: #ff4d4f;
  padding: 20px 36px 26px;
  transition: color 0.3s;
}

.category-titleMia {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  padding: 0 0 10px 36px;
  transition: color 0.3s;
}

/* Hover rang icon va title bilan birga linklar ham */
.dropdownMia:hover .category-iconMia,
.dropdownMia:hover .category-titleMia,
.dropdownMia a:hover {
  color: #ff4d4f;
}

@media screen and (max-width: 800px) {

    .dropbtnMia a{
          display: none;
    }
    
    .dropbtnMia {
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction:inherit;
    align-items: center;
    justify-content:left;
    
    }

    .category-titleMia {
   position: absolute;
   left: 15%;
    }

    .dropdown-contentMia a{
        display: none;
    }

    .dropdownMia{
        width: 100px;
    }

    .category-iconMia {
     padding: 0px;
     font-size: 34px;
     margin-left: -10px;
}
}
